/* This is a comment in my css file */

body {
    background-color: lightyellow;
}

h2 {
    color:aquamarine
}

h4 {
    color: #887;
}

a {
    color:#900;
}

img { 
border-bottom: 30px solid pink
}





